.top{ background: #eee; width: 100%; line-height: 3rem;}
.top_main{ max-width: 960px; margin: 0 auto; overflow: hidden; box-sizing: border-box; padding: 0 2rem;}
a{color:#66666A ;}
.top_r{ float: right;}
.sep{color: #66666A; margin: 0 0.3rem;}

.logo{max-width: 960px; margin: 0 auto; overflow: hidden; box-sizing: border-box; padding: 0 2rem; line-height: 10rem;}
.logo>a{ float: left; display: inline-block; width: 16%; }
.logo>a img { width: 100%; vertical-align: middle;}
.welcome_logo_login{ float: right; font-size: 1.6rem;}
.sep1{margin: 0 0.5rem;}
.main{ background: url(../img/background.png) no-repeat; background-size: 100% 100%; text-align: center; width: 100%; overflow: hidden;}
.welcome_slogan { margin: 10rem auto 5rem; font-size: 3rem; color: #fff; letter-spacing: .3rem;}
.search{ line-height: 3.1rem; max-width: 440px; margin: 0 auto 20rem; overflow: hidden;}
.box{
	background-color: #fff;
	height: 100%;
	float: left;
	width: 73%;
	text-align: left;
	overflow: hidden;
}
.box>input{ height: 100%; width: 70%; border: none; padding-left: 1rem;}
#welcome_add{cursor: pointer; width: 24%; border-left: 1px solid silver; text-align: center; display: inline-block; font-size: 1.6rem;}
.box_button{background: #EC6A17; float: right; width: 20%; color: #fff;}
.box_button a{ color: #fff;}
.choose{ display: none ; padding: 0 0.8rem; width: 82%; height: 16rem; text-align: left; max-width: 440px; position: absolute; top: 55%; margin: 0 auto; left: 0; right: 0; border: 1px solid #eee; background: #fff; color: #555; overflow-y: scroll ; overflow-x: hidden;}
#welcome_add_hot{
	font-size: 1.5rem;
	line-height: 4rem;
	border-bottom: 1px solid silver;
}
#welcome_add_city{
	box-sizing: border-box;
	display: inline-block;
	padding: 0rem .8rem;
	margin-left: 1rem;
	border: 1px solid #FF6C00;
	color: #FF6C00;
	font-size: 1.3rem;
	line-height: 2rem;
	border-radius: .2rem;
	cursor: pointer;}
#welcome_add_choose>ul{ margin-top: 0.5rem;}
#welcome_add_choose>ul li{ line-height: 3.5rem; border-bottom: 1px solid silver;}
.welcome_add_num{display: inline-block; background: #eee; color: #666; line-height: 1.5rem; text-align: center; padding: 0 0.3rem; width: 4rem; line-height: 1.5rem; font-size: 1.6rem ; border-radius: 0.3rem; }
.welcome_add_name span{ display: inline-block; padding: 0.75rem 1rem; cursor: pointer;}
.welcome_add_name{ display: inline-block;}
